---
import Social from './Social.astro';

const platform = 'github';
const username = 'alwaz-shahid';
---

<footer>
  <!-- <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p> -->
  <Social platform='twitter' username={username} />
  <Social platform='github' username={username} />
  <Social platform='youtube' username={username} />
</footer>
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
